<!DOCTYPE html>
<html>
  <head>
    <title>Maket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body>

  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
          <%= link_to "Maket" , root_path, class: "brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>link 1</li>
           <li>link 1</li>
        </ul>
 
      </div>
    </nav>


  </header>


       <ul class="side-nav" id="mobile-demo">
           <li>link 1</li>
          <li>link 1</li>
        </ul>


   
<%= link_to "About" , about_path %> 

    <%= yield %>
  </body>

    <script>
        $(".button-collapse").sideNav();
    </script>
    
</html>
